
.normal {
  font-family: Georgia, sans-serif;
  padding: 36px;
}

.title {
  font-weight: normal;
  letter-spacing: -1px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.selectBox {
  width: 280px;
  margin-bottom: 16px;
}

.divider {
  margin: 24px -36px;
  width: auto;
}

.tableContainer {
  display: flex;
}

.right, .left {
  flex: 1;
  margin-right: 24px;
}

.selectedRow {
  background: #f7f7f7;
}
